* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.layout {
  height: 100vh;
  display: grid;
  grid-template: repeat(12, 1fr) / repeat(12, 1fr);
  grid-gap: 10px;
  padding: 10px 10px 10px 10px;
  background-color: #111123;
}

.layout > div {
  border-radius: 10px;
  text-align: center;
}

.header {
  background: linear-gradient(90deg, rgba(35, 179, 166,1), rgba(17, 17, 35,1));
  grid-column: 1 / span 12;
  grid-row: 1 / span 1;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture {
  z-index: 1;
  height: 80%;
  position: absolute;
  top: 7.5%;
  right: 10px;
}

.sidebar {
  background-color: orange;
  grid-column: 1 / span 2;
  grid-row: 2 / span 10;
  background: linear-gradient(180deg, rgba(197, 34, 130,1), rgba(35, 179, 166,1));
  color: white;
}

.nav {
  background-color: blue;
  grid-column: 3 / span 10;
  grid-row: 2 / span 1;
  background: linear-gradient(90deg, rgba(197, 34, 130,1), rgba(197, 34, 130,1));
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article {
  background-color: #cfcfd3;
  grid-column: 3 / span 10;
  grid-row: 3 / span 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: rgb(17, 17, 35);
}

p {
  width: 95%;
  overflow: hidden;
  text-align: justify;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.quote {
  width: 95%;
  overflow: hidden;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 300;
}

.footer {
  background-color: gray;
  grid-column: 1 / span 12;
  grid-row: 12 / span 1;
  background: linear-gradient(90deg, rgba(35, 179, 166,1), rgba(17, 17, 35,1));
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}